.modal{
    position:fixed;
    background-color: white;
    z-index:500;
    width:30%;
    box-shadow: 1px 1px 1px black;
    left:35%;
    top:9%;
    box-sizing: border-box;
    transition:all 0.3s ease-out;
}
